<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace:写当前mapper文件对应的dao接口的全类名
 -->
<mapper namespace="com.baizhi.dao.UserDao">

    <resultMap id="userMap" type="com.baizhi.entity.User">
        <result column="u_name" property="name"></result>
        <result column="u_password" property="pwd"></result>
        <result column="u_id" property="id"></result>
    </resultMap>

    <select id="selectAll" resultMap="userMap">
        select * from u_uuser 
    </select>

    <select id="save" parameterType="User">
      insert into u_uuse (u_name,u_password) values (#{name},#{pwd});
    </select>


</mapper>